.wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #333;
  text-decoration: none;
}

.wrapper .icon span i {
  font-size: 22px;
}

/* Hover effects for icons */
.wrapper .facebook:hover {
  background-color: #3b5999;
  color: #ffffff;
}

.wrapper .twitter:hover {
  background-color: #46c1f6;
  color: #ffffff;
}

.wrapper .instagram:hover {
  background-color: #e1306c;
  color: #ffffff;
}

.wrapper .youtube:hover {
  background-color: #de463b;
  color: #ffffff;
}
.wrapper .pinterest:hover {
  background-color: #ec0023;
  color: #ffffff;
}
/* .custom-tooltip {
  background-color: #e1306c !important;
  color: #ffffff !important;
} */