 /* Terms of use  */

 .terms{
    font-size: 24px;
    font-family: 'Montserrat',sans-serif;
}
.termsacceptance{
    font-size: 18px;
    font-family: 'Montserrat',sans-serif;
}
.termsparagraph{
    font-size: 14px;
    font-family: 'Montserrat',sans-serif;
}
.termslast{
    font-size: 14px;
    font-family: 'Montserrat',sans-serif;
    
}
/* Privacy Policy  */
.privacy{
    font-size: 24px;
    font-family: 'Montserrat',sans-serif;
    
}
.privacyintro{
    font-size: 18px;
    font-family: 'Montserrat',sans-serif;
       
}
.privacyenter{
    font-size: 14px;
    font-family: 'Montserrat',sans-serif;
    
}
.privacylegal{
    font-size: 13px;
    font-family: 'Montserrat',sans-serif;

    
}
.privacylast{
    font-size: 14px;
    font-family: 'Montserrat',sans-serif;

    
}
