
/* Media Downloads */
.downloads{
    font-size: 24px;

}
.downloadtext{

    font-size: 14px;
}
.downloadtitle{
    font-size: 18px;

   
}
.pressimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.pressmail{
    font-size: 24px;
}
.vardaansaa{
    font-size: 18px;
}
.vardaan{
    font-size: 24px;

}
.vardaantext{

    font-size: 14px;
}
.vardaanforth{
    font-size: 18px;
    color: #6b0202;
}
.vardaansunday{
    font-size: 18px;
    color: black;
}
.vardaanentry{
    font-size: 14px;
    color: #6b0202;
}
.btn:hover {
    background-color: rgb(219, 37, 37);
    color: white;
}